# Ignore bundler config
/.bundle

# Ignore the default SQLite database.
/db/*.sqlite3

# Ignore all logfiles and tempfiles.
/log/*.log
/tmp

# Ignore reports
/coverage
/rails_best_practices_output.html

# Sensitive config files
/config/sensitive.yml

# Ignore backups
/backups
/db/data.yml
/db/data*.yml
/db/data.sql
/db/data*.sql

# Ignore uploads
/public/uploads

# Ignore cucumber screenshot
/cucumber-screenshot.png

# Ignore temporary notes
/notes

# Ignore node modules
/node_modules