!!! 5
%html
  %head
    %meta{"content" => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}
  %body
    %p Dear #{@profile.full_name},

    %p 
      Your password at
      = Rails.configuration.settings['app_full_name']
      has been reset to '#{@password}'. You can change it when you log in next.

    %p Thank you!

    %p= link_to Rails.configuration.settings['app_full_name'], root_url