%p You are signed in as #{current_profile.full_name}
.user.menu
  .title.menu-icon
  %ul
    %li= link_to "Your profile", current_profile
    %li= link_to "Change password", change_password_path
    %li= link_to "Log out", logout_path, target: "_self"