- page_id 'people'
- title "People"

- if @group.students.present?
  - @group.students.each do |student|
    = render "shared/profile/profile", profile: student
    
- else
  .content-block 
    %p There are no students in this group yet.