%article.profile
  %h3= profile.full_name
  - if profile.is_a? Teacher
    %p.type (Teacher)

  - profile.class.fields.each do |field|
    = render 'shared/profile_field', field_data: field, field_value: profile.send(field[:function])

  - if profile.is_a? Student
    .guardians
      - profile.guardians.each do |guardian|
        = render "shared/guardian", guardian: guardian