- page_id 'people'
- title "People"

- content_for :upper_bar do
  = render "upper-bar/people-menu"

- if @profiles.present?
  - @profiles.each do |profile|
    = render "shared/profile/profile", profile: profile
    
- else
  .content-block 
    %p= @empty_message || "No profiles found."

= paginate @people
