- if (can? :create, Group) || (can? :create, Teacher) || (can? :create, Student)
  .add.menu
    %p.title Add
    
    %ul
      - if can? :create, Teacher
        %li= link_to "Add teacher", new_teacher_path
      - if can? :create, Student
        %li= link_to "Add student", new_student_path
      - if can? :manage, Group
        %li= link_to "Manage groups", groups_path