= form_tag posts_path, method: :get, id: 'filter-form' do
  = text_field_tag 'search', params['search'], placeholder: "Enter search term"

  %p.label.posts Filters

  = select_tag 'student', 
    options_from_collection_for_select( @students, :id, :name, params[:student] ),
    :include_blank => true,
    'data-blank' => 'All students'

  = select_tag 'group', 
    options_from_collection_for_select( Group.alphabetical, :id, :name, params[:group] ),
    :include_blank => true,
    'data-blank' => 'All groups'

  %span.date-placeholder

  %span.tag-placeholder