// Generic fade

.fade-enter-setup, .fade-show-setup {
  @include transition(all ease 400ms);
  opacity: 0;
}

.fade-enter-setup.fade-enter-start, .fade-show-setup.fade-show-start {
  opacity: 1;
}

.fade-leave-setup, .fade-hide-setup {
  @include transition(all ease 400ms);
  opacity: 1;
}

.fade-leave-setup.fade-leave-start, .fade-hide-setup.fade-hide-start {
  opacity: 0;
}


// View fade

.ng-view {
  position: relative;
}

.ng-view-container {
  width: 100%;
}

.view-fade-enter-setup {
  @include transition(all ease 500ms);
  opacity: 0;
}

.view-fade-enter-setup.view-fade-enter-start {
  opacity: 1;
}

.view-fade-leave-setup {
  @include transition(all ease 200ms);
  opacity: 1;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.view-fade-leave-setup.view-fade-leave-start {
  opacity: 0;
}



// Post fade

.post-fade-enter-setup, .post-fade-leave-setup {
  @include transition(all ease 1000ms);
}

.post-fade-enter-setup article.post {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.post-fade-enter-setup.post-fade-enter-start article.post {
  opacity: 1;
  max-height: 700px;

  &.expanded {
    max-height: 2000px;
  }
}

.post-fade-leave-setup article.post {
  opacity: 1;
  max-height: 700px;
  overflow: hidden;

  &.expanded {
    max-height: 2000px;
  }
}

.post-fade-leave-setup.post-fade-leave-start article.post {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}



// Profile fade

.profile-fade-enter-setup, .profile-fade-leave-setup {
  @include transition(all ease 1000ms);
}

.profile-fade-enter-setup article.profile {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.profile-fade-enter-setup.profile-fade-enter-start article.profile {
  opacity: 1;
  max-height: 500px;
}

.profile-fade-leave-setup article.profile {
  opacity: 1;
  max-height: 500px;
  overflow: hidden;
}

.profile-fade-leave-setup.profile-fade-leave-start article.profile {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
}