// Generic fade

.fade-enter, .fade-show {
  @include transition(all ease 400ms);
  opacity: 0;
}

.fade-enter.fade-enter-active, .fade-show.fade-show-active {
  opacity: 1;
}

.fade-leave, .fade-hide {
  @include transition(all ease 400ms);
  opacity: 1;
}

.fade-leave.fade-leave-active, .fade-hide.fade-hide-active {
  opacity: 0;
}


// View fade

.ng-view {
  position: relative;
}

.ng-view-container {
  width: 100%;
}

.view-fade-enter {
  @include transition(all ease 500ms);
  opacity: 0;
}

.view-fade-enter.view-fade-enter-active {
  opacity: 1;
}

.view-fade-leave {
  @include transition(all ease 200ms);
  opacity: 1;

  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.view-fade-leave.view-fade-leave-active {
  opacity: 0;
}



// Post fade

.post-fade-enter, .post-fade-leave {
  @include transition(all ease 1000ms);
}

.post-fade-enter article.post {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.post-fade-enter.post-fade-enter-active article.post {
  opacity: 1;
  max-height: 700px;

  &.expanded {
    max-height: 2000px;
  }
}

.post-fade-leave article.post {
  opacity: 1;
  max-height: 700px;
  overflow: hidden;

  &.expanded {
    max-height: 2000px;
  }
}

.post-fade-leave.post-fade-leave-active article.post {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  padding-bottom: 0;
  padding-top: 0;
  margin-bottom: 0;
}



// Profile fade

.profile-fade-enter, .profile-fade-leave {
  @include transition(all ease 1000ms);
}

.profile-fade-enter article.profile {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  overflow: hidden;
}

.profile-fade-enter.profile-fade-enter-active article.profile {
  opacity: 1;
  max-height: 500px;
}

.profile-fade-leave article.profile {
  opacity: 1;
  max-height: 500px;
  overflow: hidden;
}

.profile-fade-leave.profile-fade-leave-active article.profile {
  @include transition(all ease 1000ms);
  opacity: 0;
  max-height: 0;
  margin-bottom: 0;
}