$cream: #E8EACD; // background
$light-cream: #F7F8E6; // site heading color

$brown: #AD6C42; // header bar

$grey-brown: #A79C83; // login button background
$light-grey-brown: #BFBDA5; // create post button border

$grey-1: #4C4C4C; // login label text
$grey-2: #6C6C6C; // post footer text
$off-black: #30302E;

$green: #669077; // upper bar background
$green-2: #6E7703; // create post text color

$teal: #669077; // Group menu background
$dark-teal: #387972; // Post option links