.filtered-list {
  @include new-clearfix;

  input {
    width: 120px;
    margin-left: 5px;
    padding: 2px 5px;
    border: 0;
    color: $grey-2;
    margin-bottom: 7px;
    font-size: 12px;
  }

  li {
    line-height: 12px;
    a {
      display: block;
      padding: 2px 0;

      @include link-colors($cream, white);

      &:hover { background-color: lighten($teal, 10); }
    }
  }

  .list {
    background-color: $teal;
    font-size: 12px;
    padding: 4px 2px;
  }

  ul {
    max-height: 120px;
    overflow-x: hidden;
    overflow-y: auto;
    text-transform: lowercase;
  }
}