.comment-fields {

  .inputs {
    label { display: none; }

    textarea {
      width: 648px - ((8px + 1px) * 2);
      height: 90px;
      border: 1px solid $cream;
    }
  }

  .actions {
    width: 100%;
  }
}

article.comment {
  margin: -10px -10px -0 0;
  padding: 10px 10px 10px 0;
  margin-bottom: 20px;
  min-height: 40px;

  .edit-link, .delete-link {
    width: 15px;
    height: 15px;
    @include hide-text;
    background: image-url('small-icons.png') no-repeat;
    position: absolute;
    right: 0;
    display: block;
    opacity: 0;
    visibility: hidden;
    @include transition(opacity 200ms ease 100ms, visibility 200ms ease 100ms);
  }

  &:hover {
    .edit-link, .delete-link {
      opacity: 1;
      visibility: visible;
      @include transition(opacity 800ms ease 200ms, visibility 800ms ease 200ms);
    }
  }

  .edit-link {
    bottom: 0;
    background-position: left -30px;
    &:hover { background-position: left -45px; }
  }

  .delete-link {
    top: 0;
    background-position: left 0;
    &:hover { background-position: left -15px; }
  }
}

.comment-wrapper {
  padding-left: 14px;
  padding-right: 20px;
  border-left: 3px solid $grey-brown;
  position: relative;
}

.comment-content {
  p {
    @include chaparral;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 12px;
  }
}

.comment-footer {
  color: $grey-brown;
  font-size: 12px;

  a {
    text-decoration: none;
    @include link-colors($grey-brown, lighten($grey-brown, 12))
  }
}