#guardian-duplicates {
  padding: 20px;

  p {
    font-size: 16px;
  }

  ul {
    margin-top: 20px;
    margin-left: 10px;
  }

  li {
    margin-bottom: 20px;
  }

  strong {
    @include semibold;
  }

  label {
    display: block;
    font-size: 14px;
    padding-left: 23px;
    text-indent: -23px;
    line-height: 18px;

    input {
      width: 13px;
      height: 13px;
      padding: 0;
      margin:0;
      vertical-align: bottom;
      position: relative;
      top: -3px;
      *overflow: hidden;
      margin-right: 8px;
    }
  }

  button {
    float: right;
    margin-left: 10px;
    @include semibold;
    font-size: 14px;
    color: $grey-2;
    background-color: #ddd;
    border: none;
    line-height: 29px;
    padding: 0 20px;
    @include border-radius(10px);
    cursor: pointer;

    &:hover {
      background-color: #ccc;
    }
  }
}