html {
  height: 100%;
  overflow-y: scroll;
}

body {
  height: 100%;
  min-width: 980px;
  background-color: $cream;
  background-image: image-url('bg.jpg');
  background-attachment: fixed;
  color: $off-black;
  @include myriad;
}

// Link color transition
a {
  text-decoration: none;
  @include transition(color 200ms ease);
}

input.button {
  @include transition(background-color 200ms ease, color 200ms ease);
}

// Style input placeholders
@mixin placeholder-style {
  @include myriad;
  font-size: 14px;
  font-style: italic;
  color: $grey-2;
}
::-webkit-input-placeholder {
  @include placeholder-style;
}
:-moz-placeholder,
::-moz-placeholder {
  @include placeholder-style;
}
:-ms-input-placeholder {
  @include placeholder-style;
}

#page-header {
  background-color: $brown;
  height: 64px;
  margin-bottom: 24px;
  width: 100%;

  h1 {
    font-size: 20px;
    font-weight: normal;
    text-transform: uppercase;
    color: $light-cream;
    line-height: 64px;
    letter-spacing: 2px;
    float: left;
    @include hide-text;
    background: image-url('logo.png') no-repeat 0 14px;
    width: 400px;

    a {
      display: block;
      text-decoration: none;
      @include link-colors($light-cream, white)
    }
  }

  .user {
    float: right;
    padding-top: 10px;

    p {
      color: $cream;
      @include chaparral;
      font-size: 14px;
      float: left;
      margin-top: 20px;
    }

    .menu-icon {
      width: 60px;
      height: 54px;
      background: image-url('large-icons.png') no-repeat 0 -415px;
      cursor: pointer;

      &:hover { background-position: 0 -495px; }
    }

    .menu {
      float: left;
      margin-left: 20px;
      position: relative;

      &:hover {
        ul{
          visibility: visible;
          opacity: 1;
          @include transition(opacity 400ms ease 100ms, visibility 400ms ease 100ms);
        }

        .menu-icon { background-position: 0 -495px; }
      }
    }

    ul {
      position: absolute;
      top: 54px;
      right: 0;
      width: 150px;
      background-color: $brown;
      padding: 5px;
      visibility: hidden;
      opacity: 0;
      @include transition(opacity 300ms ease 200ms, visibility 300ms ease 200ms);
    }

    li {
      font-size: 14px;
      font-weight: 700;
      line-height: 28px;
      margin-left: 15px;

      a {
        display: block;
        text-decoration: none;
        @include link-colors($light-cream, darken($light-cream, 20));
      }
    }
  }
}

.wrapper {
  width: 940px;
  margin: 0 auto;
}

h2 {
  font-size: 30px;
  font-weight: 600;
  margin-bottom: 12px;
  color: $off-black;
}

#main-content {
  width: 648px;
  padding-bottom: 40px;
  @include new-clearfix;
}

.notice {
  @include semibold;
  font-size: 14px;
  color: $dark-green;
  padding-left: 1px;
  height: 16px;
}
.error { color: $dark-brown; }

#upper-bar {
  margin-top: 5px;
  padding: 15px 25px;
  background-color: $teal;
  margin-bottom: 22px;
}

#page-navigation {
  float: right;

  li {
    color: $light-cream;
    letter-spacing: 1px;
    text-transform: lowercase;
    font-size: 16px;
    width: 176px;
    height: 61px;
    display: table;
    margin-bottom: 10px;

    a {
      text-decoration: none;
      @include link-colors($light-cream);
      display: table-cell;
      vertical-align: middle;
      padding: 10px 40px 10px 70px;
      background: $grey-brown image-url('large-icons.png') no-repeat;
      @include transition(background-color 200ms ease);

      &:hover {
        background-color: lighten($grey-brown, 5);
      }

      &#view_posts_link {
        background-position: 8px -9px;
      }

      &#new_post_link {
        background-position: 8px -89px;
      }

      &#people_link {
        background-position: 8px -249px;
      }
    }
  }
}

.content-block {
  background-color: white;
  padding: 20px;
  margin-bottom: 26px;
}

.pagination {
  float: right;
  @include semibold;

  .current {
    color: $brown;
  }

  span {
    margin-left: 8px;
  }

  a {
    @include link-colors($off-black, lighten($off-black, 20));
  }
}

strong { font-weight: bold; }

em { font-style: italic; }

// Wrap words
p {
  @include word-wrap;
}

// Clear floats
.clear-left {
  clear: left;
}