#manage-groups {
  .groups {
    background-color: white;
    padding: 20px;
    padding-bottom: 50px;
    @include semibold;

    a {
      @include link-colors($off-black, lighten($off-black, 20));
      max-width: 130px;
      float: left;
    }

    .edit-link, .delete-link {
      text-transform: lowercase;
      font-size: 12px;
      float: right;
      margin-left: 20px;
      font-weight: normal;
      width: auto;
    }

    li {
      width: 250px;
      height: 25px;
      margin: 12px 0;
      margin-bottom: 25px;
    }

    li.clear-left {
      height: 0;
      margin: 0;
    }
  }

  .add-link {
    @include link-colors($off-black, lighten($off-black, 20));
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    @include semibold;
    margin-top: 20px;
    display: block;
    background: image-url('small-icons.png') no-repeat 0 -356px;
    line-height: 18px;
    padding-left: 30px;

    &:hover { background-position: 0 -396px; } 
  }
}
