#login {
  header {
    margin-bottom: 64px;
  }

  h2 {
    margin-left: 120px;
    margin-bottom: 18px;
  }

  .input {
    margin-bottom: 18px;

    label {
      text-transform: uppercase;
      color: $grey-1;
      letter-spacing: 2px;
      font-weight: 600;
      
      width: 200px;
      margin-right: 7px;
    }

    input {
      letter-spacing: 1px;
      width: 200px;
    }
  }

  .actions {
    width: 207px + 200px + 16px;
  }

  #upper-bar {
    background-color: transparent;
    margin-left: 120px;
    color: $grey-2;

    .error {
      color: $brown;
      font-weight: bold;
    }
  }
}