#login {
  #main-content {
    width: 100%;
  }

  header {
    margin-bottom: 64px;
  }

  h2 {
    margin-left: 120px;
    margin-bottom: 18px;
  }

  .input {
    margin-bottom: 18px;

    label {
      text-transform: uppercase;
      color: $grey-1;
      letter-spacing: 2px;
      font-weight: 600;
      
      width: 200px;
      margin-right: 7px;
    }

    input {
      letter-spacing: 1px;
      width: 200px;
    }
  }

  .actions {
    width: 207px + 200px + 16px;
  }

  .notice {
    margin-left: 120px;
    margin-bottom: 30px;
  }

  #upper-bar {
    display: none;
  }

  .message {
    p {
      line-height: 24px;
      margin-bottom: 15px;
    }

    a {
      @include link-colors($dark-teal, lighten($dark-teal, 10));
    }
  }

  .browser-icon-link {
    margin: 0 6px;

    img {
      position: relative;
      bottom: -5px;
    }
  }
}

#ie-message, #js-message {
  display: none
}

.no-js #login, .old-ie #login {
  h2, form {
    display: none;
  }
}

.old-ie #ie-message {
  display: block
}

.no-js #js-message {
  display: block
}

.old-ie.no-js #js-message {
  display: none;
}