#notifications {
  position: fixed;
  top: 20px;
  visibility: hidden;
  opacity: 0;
  z-index: -999;
  width: 300px;
  left: 50%;
  margin-left: -150px;

  @include transition(opacity 1500ms ease, visibility 1500ms ease, z-index 0 ease 1500ms);

  &.shown {
    opacity: 0.75;
    visibility: visible;
    z-index: 999;
    @include transition(opacity 500ms ease, visibility 500ms ease);
  }

  &.shown:hover {
    opacity: 0.3;
    @include transition(opacity 200ms ease, visibility 200ms ease);
  }

  p {
    @include border-radius(10px);
    padding: 5px 10px;
    text-align: center;
    background-color: $grey-brown;
    color: $light-cream;
    opacity: 1;
    cursor: default;

    @include transition(background-color 1000ms ease);

    &.error {
      background-color: $dark-brown;
    }

    &.notification {
      background-color: $dark-green;
    }
  }
}