article.post {
  background-color: white;
  padding: 20px 42px;
  margin-bottom: 25px;
  @include new-clearfix;

  h3 {
    font-weight: 600;
    font-size: 24px;
    color: $brown;
    margin-bottom: 22px;
    margin-right: 20px;
  }

  .post-header {
    position: relative;
  }

  .restrictions {
    background: image-url('small-icons.png') no-repeat 0 -60px;
    position: absolute;
    top: 0;
    right: 0;
    @include hide-text;
    width: 15px;
    height: 15px;
  }

  .tagged-people {
    float: left;
    margin-left: -32px;
    min-width: 66px;
    max-width: 100px;
    font-weight: 600;
    font-size: 12px;
    text-align: right;
    margin-top: 10px;

    a {
      text-decoration: none;
      @include link-colors($grey-brown, lighten($grey-brown, 15))
    }

    h4 {
      color: white;
      background-color: $grey-brown;
      line-height: 17px;
      margin-left: -7px - 6px;
      margin-bottom: 6px;
    }

    h4, ul {
      padding-right: 7px;
    }

    .students {
      margin-bottom: 28px;
    }

    li {
      margin-bottom: 5px;
    }
  }

  h3, .post-content, .comments, .comment-fields, .post-footer {
    margin-left: 132px - 42px;
  }

  .post-content {
    @include chaparral;
    @include post-styles;

    margin-bottom: 45px;
  }

  .student-observations {
    margin-top: 30px;
    section { margin-top: 25px; }
  }

  .comments {
    @include new-clearfix;
    margin-bottom: 10px;

    h4 {
      font-size: 16px;
      font-weight: bold;
      color: $grey-brown;
      margin-bottom: 16px;
    }
  }

  .new-comment {
    margin-top: 26px;

    textarea {
      width: 648px - (132px + 42px + (8px + 1px) * 2);
      height: 60px;
      padding: 6px 8px;
      margin: 0;
      border: 1px solid $cream;
      resize: vertical;
      @include chaparral;
      font-size: 16px;
      line-height: 150%;
    }

    .add {
      margin-top: 10px;
      display: block;
      float: right;
      font-size: 12px;
      padding: 0 12px;
      line-height: 24px;
      @include border-radius(0);
      text-transform: none;
    }
  }

  .post-footer {
    p {
      font-size: 12px;
      color: $grey-2;
      margin-bottom: 5px;

      a {
        text-decoration: none;
        @include link-colors($grey-2, lighten($grey-2, 15))
      }
    }

    .info {
      width: 190px;
      float:left;
    }

    .options {
      float: left;

      a {
        text-decoration: none;
        @include link-colors($dark-teal, lighten($dark-teal, 15));

        &:after {
          content: ' \00bb';
        }
      }
    }
  }
}