.post-fields {
  .main {
    float: right;
    width: 474px;

    .text {
      background-color: #F6F6F6;
    }
  }

  .input {
    margin-bottom: 15px;
  }

  .string input {
    font-size: 14px;
    line-height: 16px;
    border: 0;
    padding: ((36px - 16px) / 2) 15px;
    width: 474px - (2 * 15px);
    margin: 0;
  }

  textarea {
    padding: 10px 15px;
    width: 474px - (2 * 15px);
    border: 0;
    resize: none;
    height: 276px;
    @include chaparral;
    font-size: 16px;
    line-height: 150%;
  }

  .permissions {
    background-color: $light-cream;
    padding: 10px 20px 15px 20px;
    float: right;
    width: 474px - (2 * 20px);
    clear: right;

    .input{ margin: 0; }

    p {
      font-size: 14px;
      font-style: italic;
      color: $grey-1;
      margin-bottom: 15px;

      strong {
        font-weight: bold;
        color: $brown;
        font-style: normal;
        font-size: 16px;
        padding-right: 15px;
      }
    }

    .options {
      clear: left;

      .input {
        float: left;
        margin-right: 16px;
      }

      label {
        display: block;
        font-size: 14px;
        color: $grey-1;

        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
          margin-right: 5px;
        }
      }
    }
  }

  .people-tags {
    width: 129px;

    label {
      display: block;
      font-size: 16px;
      background-color: $brown;
      text-align: center;
      color: $light-cream;
      padding: 10px;
      margin-bottom: 10px;
    }

    .teachers, .students {
      margin-bottom: 40px;
    }

    p, .tag-list li {
      font-size: 14px;
      @include semibold;
      color: $grey-3;
      padding: 5px 0;
      padding-right: 28px;
      border-bottom: 1px solid $light-red;
    }

    p { margin-left: 20px; }

    .tag-list {
      padding-left: 20px;

      li {
        position: relative;
        @include word-wrap;
      }

      .remove {
        display: block;
        height: 24px;
        width: 20px;
        position: absolute;
        right: 8px;
        top: 0;
        background: image-url('small-icons.png') no-repeat 0 -273px;
        &:hover {
          background-position: 0 -313px;
        }
      }
    }

    .container {
      width: 148px;
      position: absolute;
      z-index: 20;
      top: 14px;
      left: 0;
    }

    .filtered-list {
      padding: 5px 2px 2px 2px;

      li a {
        padding: 2px 5px;
      }
    }

    .add {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      @include semibold;
      @include link-colors($grey-3, lighten($grey-3, 20));
      letter-spacing: 1px;
      padding-left: 22px;
      line-height: 18px;
      margin-top: 18px;
      background: image-url('small-icons.png') no-repeat -2px -356px;
      &:hover, &.selected {
        background-position: -2px -396px;
        @include link-colors(lighten($grey-3, 20), lighten($grey-3, 20));
      }
    }
  }

  .student-observations-offset {
    margin-bottom: 90px;
    float: right;
    width: 474px;
  }

  .student-observations {
    float: right;
    width: 474px;
    margin-bottom: 15px;
    position: relative;
    margin-top: -90px;

    p {
      font-size: 16px;
      @include semibold;
      margin: 10px 0;
    }

    textarea {
      height: 160px;
      float: none;
      width: 474px - (2 * 15px);
      display: block;
    }
  }

  #observation-buttons {
    position: absolute;
    right: 474px;
    top: 70px;
    text-align: right;
    font-size: 14px;
    width: 150px;
    @include semibold;

    li {
      background-color: $grey-3;
      line-height: 26px;
      height: 26px;
      margin-bottom: 5px;
      float: right;
      clear: right;

      &:hover { background-color: #777771; }
    }

    a {
      @include link-colors($light-cream);
      display: block;
      padding-right: 5px;
      background: image-url('small-icons.png') no-repeat -3px -458px;
      padding-left: 22px;
      margin-left: -17px;

      &:hover { background-position: -3px -488px; }
    }

    li.selected {
      background-color: $brown;
      a { background-position: -3px -428px; }
    }
  }

  .actions {
    clear: right;
    margin-top: 30px;
    width: 100%;
    float: right;

    button.save {
      border: 1px solid $light-grey-brown;
      background-color: $light-cream;
      line-height: 43px;
      padding: 0 20px;
      @include border-radius(10px);
      font-weight: normal;
      color: $green;
      font-size: 16px;
      cursor: pointer;
      float: right;
      margin-left: 10px;
      text-transform: none;

      &:hover {
        background-color: lighten($light-cream, 10);
        color: darken($green, 5);
      }
    }
  }
}