form.post {
  fieldset.main {
    float: right;
    width: 474px;

    label { display: none; }
  }

  .input {
    margin-bottom: 15px;
  }

  .string input {
    font-size: 14px;
    line-height: 16px;
    border: 0;
    padding: ((36px - 16px) / 2) 15px;
    width: 474px - (2 * 15px);
    margin: 0;
  }

  textarea {
    padding: 10px 15px;
    width: 474px - (2 * 15px);
    border: 0;
    resize: none;
    height: 276px;
    @include chaparral;
    font-size: 16px;
    line-height: 150%;
  }
  
  fieldset.permissions {
    background-color: $light-cream;
    padding: 10px 20px 15px 20px;
    float: right;
    width: 474px - (2 * 20px);
    clear: right;

    .input{ margin: 0; }

    p {
      font-size: 14px;
      font-style: italic;
      color: $grey-1;
      margin-bottom: 15px;

      strong {
        font-weight: bold;
        color: $brown;
        font-style: normal;
        font-size: 16px;
        padding-right: 15px;
      }
    }

    .options {
      clear: left;

      .input {
        float: left;
        margin-right: 16px;
      }

      label {
        display: block;
        font-size: 14px;
        color: $grey-1;

        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
          margin-right: 8px;
        }
      }
    }
  }

  fieldset.tags {
    width: 129px;

    label {
      display: block;
      font-size: 16px;
      background-color: $brown;
      text-align: center;
      color: $light-cream;
      padding: 10px;
      margin-bottom: 10px;
    }

    li.input {
      margin-bottom: 40px;
    }

    select {
      width: 100%;
    }
  }

  fieldset.student-observations {
    float: right;
    width: 474px;
    background-color: $light-cream;
    max-height: 150px;
    overflow-y: auto;
    margin-bottom: 15px;

    label {
      font-size: 14px;
      margin-left: 20px;
      display: block;
    }

    textarea {
      height: 60px;
      float: none;
      width: 474px - (2 * 15px + 2 * 20px);
      display: block;
      margin: 5px auto 20px auto;
    }
  }

  fieldset.actions {
    clear: right;
    margin-top: 30px;
    width: 100%;
    float: right;

    input, .delete-link {
      border: 1px solid $light-grey-brown;
      background-color: $light-cream;
      line-height: 43px;
      padding: 0 20px;
      @include border-radius(10px);
      font-weight: normal;
      color: $grey-2;
      font-size: 16px;
      cursor: pointer;
      float: right;
      margin-left: 10px;
      text-transform: none;

      &:hover {
        background-color: lighten($light-cream, 10);
        color: darken($grey-2, 10);
      }

      &.submit {
        color: $green;

        &:hover {
          color: darken($green, 5);
        }
      }
    }
  }
}