form.post {
  fieldset.main {
    float: right;
    width: 474px;

    label { display: none; }

    .text {
      background-color: #F6F6F6;
    }
  }

  .input {
    margin-bottom: 15px;
  }

  .string input {
    font-size: 14px;
    line-height: 16px;
    border: 0;
    padding: ((36px - 16px) / 2) 15px;
    width: 474px - (2 * 15px);
    margin: 0;
  }

  textarea {
    padding: 10px 15px;
    width: 474px - (2 * 15px);
    border: 0;
    resize: none;
    height: 276px;
    @include chaparral;
    font-size: 16px;
    line-height: 150%;
  }
  
  fieldset.permissions {
    background-color: $light-cream;
    padding: 10px 20px 15px 20px;
    float: right;
    width: 474px - (2 * 20px);
    clear: right;

    .input{ margin: 0; }

    p {
      font-size: 14px;
      font-style: italic;
      color: $grey-1;
      margin-bottom: 15px;

      strong {
        font-weight: bold;
        color: $brown;
        font-style: normal;
        font-size: 16px;
        padding-right: 15px;
      }
    }

    .options {
      clear: left;

      .input {
        float: left;
        margin-right: 16px;
      }

      label {
        display: block;
        font-size: 14px;
        color: $grey-1;

        input {
          width: 13px;
          height: 13px;
          padding: 0;
          margin:0;
          vertical-align: bottom;
          position: relative;
          top: -1px;
          *overflow: hidden;
          margin-right: 8px;
        }
      }
    }
  }

  fieldset.tags {
    width: 129px;

    label {
      display: block;
      font-size: 16px;
      background-color: $brown;
      text-align: center;
      color: $light-cream;
      padding: 10px;
      margin-bottom: 10px;
    }

    li.input {
      margin-bottom: 40px;
    }

    select {
      width: 100%;
    }

    .tag-list {
      font-size: 14px;
      @include semibold;
      padding-left: 20px;
      color: $grey-3;

      li {
        padding: 5px 0;
        border-bottom: 1px solid $light-red;
        position: relative;
        padding-right: 28px;
        @include word-wrap;
      }

      .remove-link {
        display: block;
        height: 24px;
        width: 20px;
        position: absolute;
        right: 8px;
        top: 0;
        background: image-url('small-icons.png') no-repeat 0 -273px;
        &:hover {
          background-position: 0 -313px;
        }
      }
    }

    .add-link {
      display: block;
      font-size: 12px;
      text-transform: uppercase;
      @include semibold;
      @include link-colors($grey-3, lighten($grey-3, 20));
      letter-spacing: 1px;
      padding-left: 22px;
      line-height: 18px;
      margin-top: 18px;
      background: image-url('small-icons.png') no-repeat -2px -356px;
      &:hover {
        background-position: -2px -396px;
      }
    }
  }

  fieldset.student-observations {
    float: right;
    width: 474px;
    margin-bottom: 15px;
    position: relative;

    &.empty {
      display: none;
    }

    p {
      font-size: 16px;
      @include semibold;
      margin: 10px 0;
    }

    label { display: none; }

    textarea {
      height: 160px;
      float: none;
      width: 474px - (2 * 15px);
      display: block;
    }
  }

  #observation-editor {
    min-height: 600px;
  }

  #observation-buttons {
    position: absolute;
    right: 474px;
    top: 70px;
    text-align: right;
    font-size: 14px;
    width: 150px;
    @include semibold;

    li {
      background-color: $grey-3;
      line-height: 26px;
      height: 26px;
      margin-bottom: 5px;
      float: right;
      clear: right;

      &:hover { background-color: #777771; }
    }

    a {
      @include link-colors($light-cream);
      display: block;
      padding-right: 5px;
      background: image-url('small-icons.png') no-repeat -3px -458px;
      padding-left: 22px;
      margin-left: -17px;

      &:hover { background-position: -3px -488px; }
    }

    li.selected {
      background-color: $brown;
      a { background-position: -3px -428px; }
    }
  }

  fieldset.actions {
    clear: right;
    margin-top: 30px;
    width: 100%;
    float: right;

    input, .delete-link {
      border: 1px solid $light-grey-brown;
      background-color: $light-cream;
      line-height: 43px;
      padding: 0 20px;
      @include border-radius(10px);
      font-weight: normal;
      color: $grey-2;
      font-size: 16px;
      cursor: pointer;
      float: right;
      margin-left: 10px;
      text-transform: none;

      &:hover {
        background-color: lighten($light-cream, 10);
        color: darken($grey-2, 10);
      }

      &.submit {
        color: $green;

        &:hover {
          color: darken($green, 5);
        }
      }
    }
  }
}

.no-js form.post fieldset.student-observations {
  background-color: $light-cream;
  height: 150px;
  overflow-y: auto;

  label {
    font-size: 14px;
    margin-left: 20px;
    display: block;
  }

  p { margin-left: 20px; }

  textarea {
    height: 60px;
    float: none;
    width: 474px - (2 * 15px + 2 * 20px);
    display: block;
    margin: 5px auto 20px auto;
  }
}