article.profile {
  background-color: white;
  margin-bottom: 26px;
  position: relative;
  @include new-clearfix;

  &.archived {
    // background-color: #CDCECC;
  }

  .profile-header {
    background-color: $grey-brown;
    padding: 14px 21px 14px 21px;
    margin-bottom: 20px;
  }

  h3 {
    color: $cream;
    float: left;
    font-size: 20px;
    line-height: 20px;
    max-width: 340px;
    @include semibold;
  }

  .field {
    clear: left;
    margin-bottom: 7px;
    @include new-clearfix;
    line-height: 120%;

    p {
      float: left;
      color: $off-black;
      font-size: 14px;
      width: 180px;
    }

    .field-name {
      width: 110px;
      text-align: right;
      margin-right: 24px;
      color: $grey-brown;
    }
  }

  .edit {
    margin-bottom: 7px;
    text-align: right;
    width: 110px;
    line-height: 14px;

    .edit-link {
      @include link-colors($grey-brown, lighten($grey-brown, 10));
      font-size: 12px;
      text-transform: lowercase;
    }
  }

  .main-profile-fields {
    width: 320px;
    float: left;
  }

  .guardians {
    float: right;
    width: 315px;

    .guardian-header {

    }

    h4 {
      @include semibold;
      color: $off-black;
      margin-left: 85px + 24px;
      margin-bottom: 7px;
      font-size: 16px;
      margin-top: -2px;
      line-height: 120%;
      float: left;
      max-width: 160px;
    }

    .field {
      .field-name {
        width: 85px;
      }
    }

    .edit {
      text-align: left;
      width: auto;
      margin-left: 85px + 24px;
    }
  }

  .guardian {
    margin-bottom: 26px;
  }

  .add-guardian, .type {
    position: absolute;
    top: 0;
    left: 439px;
    line-height: 48px;
    color: $cream;
    @include semibold;
  }

  .add-guardian {
    @include link-colors($cream, white);
    background: url('/images/small-icons.png') no-repeat 0 -76px;
    padding-left: 26px;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 12px;

    &:hover { background-position: 0 -126px }
  }

  .type {
    font-size: 14px;
  }

  .profile-footer {
    clear: both;
    margin-top: 26px;
    float: left;
  }

  .groups, .mentors, .mentees {
    position: relative;
    float: left;
    margin-left: 28px;

    h4 {
      padding-bottom: 5px;
      margin-right: 20px;
      font-size: 14px;
      line-height: 20px;
      width: auto;
      float: left;
      background: url('/images/small-icons.png') no-repeat right -176px;
      padding-right: 20px;
      cursor: pointer;

      &:hover,&.selected { color: lighten($off-black, 30); }
    }

    label { display: none; }
    
    .remove-link {
      display: block; 
      @include hide-text;
      background: url('/images/small-icons.png') no-repeat center -229px;
      width: 20px;
      height: 12px;
      position: absolute;
      right: 0;
      top: 0;

      &:hover{ background-position: center -249px}
    }

    .menu {
      position: absolute;
      display: none;
      left: -20px;
      top: 25px;
      clear: left;
      z-index: 20;
      background-color: $teal;
      text-transform: lowercase;
      font-size: 12px;
      padding: 8px 16px;
      @include box-shadow(1px 1px 8px #888);
      overflow: hidden;
      min-width: 100px;
      width: 140px;
      color: $cream;
      margin-bottom: 15px;

      a {
        @include link-colors($cream, lighten($cream, 20));
      }

      li {
        margin-bottom: 8px;
        position: relative;
        padding-right: 20px;
      }
    }

    select { width: 100%; }

    select, .button {
      font-size: 12px;
      margin-top: 5px;
      text-transform: lowercase;
    }

    .button {
      float: right;
      font-weight: normal;
      background-color: $light-grey-brown;
      @include border-radius(8px);
      padding: 2px 8px;
      color: $off-black;
      line-height: 14px;

      &:hover { background-color: lighten($light-grey-brown, 15); }
    }
  }

  .guardian .manage {
    .icon {
      background: url('/images/large-icons.png') no-repeat -16px -571px;
      margin-top: 0;
      margin-left: 10px;
    }

    ul {
      left: 5px;
    }

    &:hover .icon { background: url('/images/large-icons.png') no-repeat -16px -611px; }
  }


  .manage {
    position: relative;
    float: left;

    .icon {
      width: 30px;
      height: 20px;
      margin-top: 2px;
      margin-left: 15px;
      background: url('/images/large-icons.png') no-repeat -16px -651px;
      cursor: pointer;
    }

    &:hover {
      ul{
        visibility: visible;
        opacity: 1;
        @include transition(opacity 400ms ease 100ms, visibility 400ms ease 100ms);
      }

      .icon { background-position: -16px -691px; }
    }

    ul {
      width: 100px;
      visibility: hidden;
      opacity: 0;
      @include transition(opacity 300ms ease 200ms, visibility 300ms ease 200ms);
      top: 20px;
      left: 10px;
      position: absolute;
      background-color: $grey-brown;
      color: $grey-2;
      font-size: 12px;
      text-transform: lowercase;
      padding: 7px 0;
      border: 1px solid lighten($grey-brown, 5);
      z-index: 20;

      li {
        cursor: default;
        line-height: 20px;
      }

      .disabled, a {
        display: block;
        padding: 0 10px;
      }

      a {
        @include link-colors($cream);
        &:hover{ background-color: lighten($grey-brown, 10); }
      }
    }
  }
}

.no-js article.profile{
  .groups, .mentors, .mentees {
    h4 {
      background: none;
      cursor: default;
      margin-right: 0;

      &:hover { color: $off-black }
    }

    .mentors {
      margin-left: 18px;
      .menu {
        float: left;
      }
    }
  }

  .menu {
    @include box-shadow(none);
    position: static;
    display: block;
    width: auto;
  }
}