#upper-bar {
  line-height: 22px;

  form {
    float: left;
  }

  #search {
    &::-webkit-input-placeholder { text-transform: lowercase; }
    &:-moz-placeholder { text-transform: lowercase; }
    &:-ms-input-placeholder { text-transform: lowercase; }

    border: 0;
    font-size: 14px;
    line-height: 16px;
    padding: 2px 5px;

    background: white image-url('small-icons.png') no-repeat 3px -618px;
    padding-left: 28px;
    width: 135px - 28px - 5px;
    margin-right: 48px;

    float: left;
  }

  .title {
    margin: 0;
    background: image-url('small-icons.png') no-repeat right -528px;
    padding-right: 20px;
    cursor: pointer;
    padding-left: 10px;
    color: $cream;

    &:hover { background-position: right -578px; }
  }

  .menu, .click-menu {
    color: $cream;
    font-size: 16px;
    text-transform: lowercase;
    font-weight: bold;
    float: left;

    ul {
      background-color: $teal;
      padding: 5px 0;
      font-weight: normal;
      line-height: 25px;
      font-size: 12px;

      a {
        @include link-colors($cream);
        display: block;
        padding: 0 10px;

        &:hover { background-color: lighten($teal, 10); }
      }
    }

    .divider {
      border-top: 1px solid $cream;
      margin-top: 2px;
    }

    &:hover {
      .title { color: lighten($cream, 20); }
    }

    .title.selected { color: lighten($cream, 20); }

    .clear {
      margin-left: 10px;
      margin-top: 10px;
      font-size: 14px;
      font-weight: normal;
      color: $grey-2;
    }

    a.clear {
      @include link-colors($cream, lighten($cream, 20));
    }

    .container {
      width: 148px;
      position: absolute;
      z-index: 20;
      top: 24px;
      left: 0;
      background-color: $teal;
    }

    .filtered-list {
      padding: 2px;

      li a {
        padding: 2px 5px;
      }
    }
  }

  .add.click-menu ul{
    width: 120px;
  }

  .label {
    float: left;
    font-style: italic;
    color: $cream;
    text-transform: lowercase;
    margin-left: 28px;
    margin-right: 16px;
  }

  .post-filters .label {
    margin-left: -8px;
    margin-right: 23px;
  }

  .viewing.click-menu {
    ul {
      font-size: 16px;
      font-weight: bold;
      width: 270px;
      float: left;
    }
  }

  .date-placeholder, .tag-placeholder {
    float: left;
    display: block;
    width: 40px;
    height: 22px;
    margin-left: 20px;
    background: image-url('large-icons.png') no-repeat -10px -723px;
  }

  .date-placeholder {
    margin-left: 30px;
  }

  .tag-placeholder {
    background-position: -10px -844px;
  }
}