%div{ "ng-controller"=>"AcademicFiltersCtrl" }
  %p.label Find records

  .viewing.click-menu
    %a.title{ href: "" } {{selected.student.short_name || 'Student'}}

    %ul.container
      %li{ "ng-repeat"=>"student in students", "ng-hide"=>"student == selected.student" }
        %a{ "href"=>"", "ng-click"=>"selected.student = student" } {{student.short_name}}

  .viewing.click-menu
    %a.title{ href: "" } {{selected.subject.name || 'Subject'}}

    %ul.container
      %li{ "ng-repeat"=>"subject in subjects", "ng-hide"=>"subject == selected.subject" }
        %a{ "href"=>"", "ng-click"=>"selected.subject = subject" } {{subject.name}}

  %a.manage{ href: "/academics/subjects" } Manage subjects