%modal#change-password{ "show-on"=>"dialogs.changePassword", "modal-width"=>"500" }
  %div{ "ng-controller"=>"ChangePasswordCtrl" }
    %h3 Change your password
    %ol.inputs
      %li.string.input
        %label{ "for"=>"current-password" } Current password
        %input#current-password{ "type"=>"password", "ng-model"=>"user.current_password" }

      %li.string.input
        %label{ "for"=>"new-password" } New password
        %input#new-password{ "type"=>"password", "ng-model"=>"user.new_password" }

    %a.submit.button{ "ng-click"=>"submit()" } Change