%header.profile-header
  %h3{ "edit-in-place"=>true, "instance"=>"person", "field"=>"full_name", "edit-mode"=>"editing['full_name']", "placeholder"=>"Enter name" }

  %p.type{ "ng-show"=>"person.type == 'Teacher'" }
    {{person.type}}

  %div{ "ng-switch"=>"isTeacher" }
    %div{ "ng-switch-when"=>"true" }
      .manage{ "ng-show"=>"isTeacher && person.id", "click-menu"=>true }
        .icon.title
        %ul.container
          %li{ "ng-hide"=>"person.archived || !person.email" }
            %a{ "href"=>"", "ng-click"=>"resetPassword(person)" } {{person.active && "Reset password" || "Activate"}}
          %li
            %a{ "href"=>"", "ng-click"=>"toggleArchive(person)" } {{person.archived && "Unarchive" || "Archive"}}
          %li
            %a{ "href"=>"", "ng-click"=>"delete(person)" } Delete

  .clear-left

%profile-fields.main-profile-fields{ "parent"=>"person", "editing"=>"editing" }

.guardians{ "ng-show"=>"person.type == 'Student'" }
  %a.add-guardian{ "href"=>"", "ng-click"=>"addGuardian(person)", "ng-show"=>"isTeacher" } Add guardian

  .guardian{ "ng-repeat"=>"guardian in person.guardians", "ng-hide"=>"guardian.deleted", "ng-controller"=>"EditObjectCtrl" }
    %ng-switch{ "on"=>"!!(isTeacher || guardian.editable)" }
      %div{ "ng-switch-when"=>"true", "ng-include"=>"'#{asset_path('editable_guardian.html')}'" }
      %div{ "ng-switch-when"=>"false", "ng-include"=>"'#{asset_path('non_editable_guardian.html')}'" }

%footer.profile-footer
  %div{ "ng-show"=>"person.id" }

    .groups{ "ng-show"=>"person.type == 'Student'", "click-menu"=>true, "no-auto-close"=>true }
      %h4.title Groups
      .container
        %ul.existing
          %li{ "ng-repeat"=>"group in person.groups", "ng-hide"=>"group.deleted" }
            %span {{group.name}}
            %a.remove{ "href"=>"", "internal-click"=>"person.removeGroup(group)", "ng-show"=>"isTeacher" }
          %li{ "ng-hide"=>"person.groups.length" }
            None

        %div{ "ng-switch"=>"isTeacher" }
          %div{ "ng-switch-when"=>"true" }
            %filtered-list{ "list"=>"person.remainingGroups()", "show-property"=>"name", "on-select"=>"person.addGroup(value)" }

    .mentors{ "ng-show"=>"person.type == 'Student'", "click-menu"=>true, "no-auto-close"=>true }
      %h4.title {{person.mentors.length > 1 && 'Mentors' || 'Mentor'}}
      .container
        %ul.existing
          %li{ "ng-repeat"=>"mentor in person.mentors", "ng-hide"=>"mentor.deleted" }
            %span {{mentor.name}}
            %a.remove{ "href"=>"", "internal-click"=>"person.removeMentor(mentor)", "ng-show"=>"isTeacher" }
          %li{ "ng-hide"=>"person.mentors.length" }
            None

        %div{ "ng-switch"=>"isTeacher" }
          %div{ "ng-switch-when"=>"true" }
            %filtered-list{ "list"=>"person.remainingMentors()", "show-property"=>"name", "on-select"=>"person.addMentor(value)" }

    .mentees{ "ng-show"=>"person.type == 'Teacher'", "click-menu"=>true, "no-auto-close"=>true }
      %h4.title {{person.mentees.length > 1 && 'Mentees' || 'Mentee'}}
      .container
        %ul.existing
          %li{ "ng-repeat"=>"mentee in person.mentees", "ng-hide"=>"mentee.deleted" }
            %span {{mentee.name}}
            %a.remove{ "href"=>"", "internal-click"=>"person.removeMentee(mentee)", "ng-show"=>"isTeacher" }
          %li{ "ng-hide"=>"person.mentees.length" }
            None

        %div{ "ng-switch"=>"isTeacher" }
          %div{ "ng-switch-when"=>"true" }
            %filtered-list{ "list"=>"person.remainingMentees()", "show-property"=>"name", "on-select"=>"person.addMentee(value)" }