.framework-wrapper
  %h3
    Framework | {{framework.name}}
    =image_tag "loader-small.gif", 'alt'=>'', 'ng-hide'=>'framework'
    %a.settings{ "href"=>"", "ng-click"=>"settings()" }

  %a.close{ "href"=>"", "ng-click"=>"close()" }

  %a.add{ "href"=>"", "ng-click"=>"addStrand(framework)" } Add strand

  %ol.strands
    %li{ "ng-repeat"=>"strand in framework.strands | filterDeleted", "ng-include"=>"'#{asset_path('edit_strand.html')}'", "ng-animate"=>"'fade'" }

  %a.add{ "href"=>"",
    "ng-click"=>"addStrand(framework)",
    "ng-show"=>"(framework.strands | filterDeleted).length > 0"} Add strand

  %modal#framework-settings{ "show-on"=>"dialog.frameworkSettings", "modal-width"=>"320" }
    %div{ "ng-controller"=>"FrameworkSettingsDialogCtrl" }
      .string.input
        %label{ "for"=>"column_name" } Column name:
        %input#column_name{ "ng-model"=>"frameworkSettings.column_name" }

      %div
        %label
          %input#level_numbers{ "type"=>"checkbox", "ng-model"=>"frameworkSettings.level_numbers" }
          Level numbers

      %a.submit.button{ "href"=>"", "ng-click"=>"save()" } Save
