%header.guardian-header
  %h4{ "edit-in-place"=>true, "instance"=>"guardian", "field"=>"full_name", "edit-mode"=>"editing['full_name']" }

  .manage.menu{ "ng-show"=>"isTeacher" }
    .icon.title
    %ul
      %li{ "ng-hide"=>"guardian.archived || !guardian.email" }
        %a{ "href"=>"", "ng-click"=>"resetPassword(guardian)" } {{guardian.active && "Reset password" || "Activate"}}
      %li
        %a{ "href"=>"", "ng-click"=>"removeGuardian(person, guardian)" }
          {{(guardian.parent_count > 1) && "Remove" || "Delete"}}

  .clear-left

%profile-fields.guardian-profile-fields{ "parent"=>"guardian", "editing"=>"editing" }