.guardian.editable{ "ng-hide"=>"guardian.deleted", "ng-controller"=>"EditObjectCtrl" }
  %header.guardian-header
    %h4{ "edit-in-place"=>true, "instance"=>"guardian", "field"=>"name", "edit-mode"=>"editing['name']", "placeholder"=>"Enter name" }

    .activated{ "ng-hide"=>"guardian.active" }
      %p.message
        %span This user has not been activated. Users need to be activated before they can log into the system.
        %span{ "ng-hide"=>"guardian.email" } An email address must be entered before the user can be activated.

    .manage.click-menu{ "ng-show"=>"isTeacher && guardian.id" }
      .icon.title
      %ul.container
        %li{ "ng-hide"=>"guardian.archived || !guardian.email" }
          %a{ "href"=>"", "ng-click"=>"resetPassword(guardian)" } {{guardian.active && "Reset password" || "Activate"}}
        %li
          %a{ "href"=>"", "ng-click"=>"removeGuardian(person, guardian)" }
            {{(guardian.parent_count > 1) && "Remove" || "Delete"}}

    .clear-left

  %profile-fields.guardian-profile-fields{ "parent"=>"guardian", "editing"=>"editing" }