.guardian{ "ng-hide"=>"guardian.deleted" }
  %header.guardian-header
    %h4
      %span.value {{guardian.name}}

    .clear-left

  %profile-fields-view.guardian-profile-fields{ "parent"=>"guardian" }