%h2 {{pageTitle}}

%section#upper-bar
  .people-fields{ "ng-hide" => "singlePerson" }
    %input#search{ "placeholder"=>"Enter search term", "name"=>"search", "ng-model"=>"search", "on-type"=>"doSearch(search)", "autocomplete"=>"off"}

    .add.menu
      %p.title Add
      
      %ul
        %li
          %a{ "href"=>"" } Add teacher
        %li
          %a{ "href"=>"" } Add student
        %li
          %a{ "href"=>"", "ng-click"=>"manageGroups=true" } Manage groups

    %p.label Viewing

    .viewing.menu
      %p.title {{filterName}}

      %ul
        %li{"ng-hide" => "filterName == 'Students and teachers'"}
          %a{href: "/people"} Students and teachers
        %li{"ng-hide" => "filterName == 'Students'"}
          %a{href: "/students"} Students
        %li{"ng-hide" => "filterName == 'Teachers'"}
          %a{href: "/teachers"} Teachers
        %li{"ng-hide" => "filterName == 'Archived students and teachers'"}
          %a{href: "/people/archived"} Archived students and teachers

  .clear-left

%article.profile{ "ng-repeat"=>"person in people" }
  %header.profile-header
    %h3{ "edit-in-place"=>"person.update('full_name', value)", "editor-attr"=>"person.full_name",
      "display"=>"{{person.full_name}}", "edit-mode"=>"person.editing['full_name']" }

    %p.type{ "ng-show"=>"person.type == 'Teacher'" }
      {{person.type}}

    .clear-left

  %profile-fields.main-profile-fields{ "parent"=>"person" }

  .guardians{ "ng-show"=>"person.type == 'Student'" }
    .guardian{ "ng-repeat"=>"guardian in person.guardians" }
      
      %header.guardian-header
        %h4{ "edit-in-place"=>"guardian.update('full_name', value)", "editor-attr"=>"guardian.full_name",
          "display"=>"{{guardian.full_name}}", "edit-mode"=>"guardian.editing['full_name']"}
        
        .clear-left

      %profile-fields.guardian-profile-fields{ "parent"=>"guardian" }

  %footer.profile-footer
    .groups{ "ng-show"=>"person.type == 'Student'" }
      %h4 Groups
      %ul
        %li{ "ng-repeat"=>"group in person.groups" }
          {{group.name}}
        %li{ "ng-hide"=>"person.groups.length" }
          None

      %filtered-list{ "list"=>"person.remainingGroups()", "show-property"=>"name", "on-select"=>"person.addGroup(value)" }

.content-block{ "ng-hide"=>"people.length" }
  %p No matching people were found.

%pagination{ "total-pages"=>"totalPages", "current-page"=>"currentPage" }

%modal{ "show-on"=>"manageGroups" }
  #groups{ "ng-controller"=>"GroupsCtrl" }
    %h3 Manage groups
    %ul{ "ng-show"=>"groups.length" }
      %li{ "ng-repeat"=>"group in groups" }
        %p{ "edit-in-place"=>"group.rename(value)", "editor-attr"=>"group.name", "display"=>"{{group.name}}",
          "edit-mode"=>"group.editing" }
        %a.delete{ "href"=>"", "ng-click"=>"group.delete()" } Delete
    %p{ "ng-hide"=>"groups.length" }
      There are no groups yet.
    %a.add{ "href"=>"", "ng-click"=>"add()" } Add group





/ %header.profile-header
/   %h3= profile.full_name
/   - if profile.is_a? Teacher
/     %p.type Teacher
    

/   !!
/   - if can? :administrate, profile
/     = render 'shared/profile/administrate_menu', profile: profile
/   !!

/   .clear-left

/ .main-profile-fields
/   - profile.class.fields.each do |field|
/     = render 'shared/profile/field', field_data: field, field_value: profile.send(field[:function])

/   - if can? :update, profile
/     .edit
/       = link_to "Edit profile", edit_profile_path(profile), class: 'edit-link'


/ - if profile.is_a? Student
/   .guardians
/     !!
/     - if can? :create, Guardian
/       = link_to "Add guardian", new_student_guardian_path(profile), class: "add-guardian"
/     !!

/     - profile.guardians.each do |guardian|
/       = render "shared/profile/guardian", guardian: guardian, student: profile

/ !!
/ %footer.profile-footer
/   - if profile.is_a? Student
/     .groups
/       = render "shared/profile/groups", student: profile

/     .mentors
/       = render "shared/profile/mentors", student: profile

/   - if profile.is_a? Teacher
/     .mentees
/       = render "shared/profile/mentees", teacher: profile
/ !!