%h2 {{pageTitle}}

%section#upper-bar
  .people-fields{ "ng-hide" => "profile" }
    %input#search{ "placeholder"=>"Enter search term", "name"=>"search", "ng-model"=>"search", "on-type"=>"doSearch(search)", "autocomplete"=>"off"}

    .add.menu
      %a.title{ href: "" } Add

      %ul
        %li
          %a{ "href"=>"", "ng-show"=>"canAddTeacher", "ng-click"=>"addTeacher()" } Add teacher
        %li
          %a{ "href"=>"", "ng-show"=>"canAddStudent", "ng-click"=>"addStudent()" } Add student
        %li
          %a{ "href"=>"", "ng-click"=>"manageGroups=true" } Manage groups

    %p.label Viewing

    .viewing.menu
      %a.title{ href: "" } {{filterName}}

      %ul
        %li{"ng-hide" => "filterName == 'Students and teachers'"}
          %a{href: "/people"} Students and teachers
        %li{"ng-hide" => "filterName == 'Students'"}
          %a{href: "/students"} Students
        %li{"ng-hide" => "filterName == 'Teachers'"}
          %a{href: "/teachers"} Teachers
        %li{"ng-hide" => "(filterName == 'Your mentees') || (!isTeacher)"}
          %a{href: "/mentees"} Your mentees
        %li{"ng-hide" => "filterName == 'Archived students and teachers'"}
          %a{href: "/people/archived"} Archived students and teachers

        %li.divider{"ng-show"=>"groups.length"}
        %li{"ng-repeat"=>"group in groups", "ng-hide"=>"filterName == group.name"}
          %a{"ng-href" => "/groups/{{group.id}}"} {{group.name}}

  .clear-left

%article.profile{ "ng-repeat"=>"person in people", "ng-hide"=>"person.deleted", "ng-controller"=>"EditObjectCtrl" }
  %header.profile-header
    %h3{ "edit-in-place"=>true, "instance"=>"person", "field"=>"full_name", "edit-mode"=>"editing['full_name']" }

    %p.type{ "ng-show"=>"person.type == 'Teacher'" }
      {{person.type}}

    .manage.menu
      .icon.title
      %ul
        %li{ "ng-hide"=>"person.archived || !person.email" }
          %a{ "href"=>"", "ng-click"=>"resetPassword(person)" } {{person.active && "Reset password" || "Activate"}}
        %li
          %a{ "href"=>"", "ng-click"=>"toggleArchive(person)" } {{person.archived && "Unarchive" || "Archive"}}
        %li
          %a{ "href"=>"", "ng-click"=>"delete(person)" } Delete

    .clear-left

  %profile-fields.main-profile-fields{ "parent"=>"person", "editing"=>"editing" }

  .guardians{ "ng-show"=>"person.type == 'Student'" }
    %a.add-guardian{ "href"=>"", "ng-click"=>"addGuardian(person)" } Add guardian

    .guardian{ "ng-repeat"=>"guardian in person.guardians", "ng-hide"=>"guardian.deleted", "ng-controller"=>"EditObjectCtrl" }

      %header.guardian-header
        %h4{ "edit-in-place"=>true, "instance"=>"guardian", "field"=>"full_name", "edit-mode"=>"editing['full_name']" }

        .manage.menu
          .icon.title
          %ul
            %li{ "ng-hide"=>"guardian.archived || !guardian.email" }
              %a{ "href"=>"", "ng-click"=>"resetPassword(guardian)" } {{guardian.active && "Reset password" || "Activate"}}
            %li
              %a{ "href"=>"", "ng-click"=>"removeGuardian(person, guardian)" }
                {{(guardian.parent_count > 1) && "Remove" || "Delete"}}

        .clear-left

      %profile-fields.guardian-profile-fields{ "parent"=>"guardian", "editing"=>"editing" }

  %footer.profile-footer
    .groups{ "ng-show"=>"person.type == 'Student'" }
      %h4 Groups
      %ul.existing
        %li{ "ng-repeat"=>"group in person.groups", "ng-hide"=>"group.deleted" }
          %span {{group.name}}
          %a.remove{ "href"=>"", "ng-click"=>"person.removeGroup(group)" } Remove
        %li{ "ng-hide"=>"person.groups.length" }
          None

      %filtered-list{ "list"=>"person.remainingGroups()", "show-property"=>"name", "on-select"=>"person.addGroup(value)" }

    .mentors{ "ng-show"=>"person.type == 'Student'" }
      %h4 {{person.mentors.length > 1 && 'Mentors' || 'Mentor'}}
      %ul.existing
        %li{ "ng-repeat"=>"mentor in person.mentors", "ng-hide"=>"mentor.deleted" }
          %span {{mentor.full_name}}
          %a.remove{ "href"=>"", "ng-click"=>"person.removeMentor(mentor)" } Remove
        %li{ "ng-hide"=>"person.mentors.length" }
          None

      %filtered-list{ "list"=>"person.remainingMentors()", "show-property"=>"full_name", "on-select"=>"person.addMentor(value)" }

    .mentees{ "ng-show"=>"person.type == 'Teacher'" }
      %h4 {{person.mentees.length > 1 && 'Mentees' || 'Mentee'}}
      %ul.existing
        %li{ "ng-repeat"=>"mentee in person.mentees", "ng-hide"=>"mentee.deleted" }
          %span {{mentee.full_name}}
          %a.remove{ "href"=>"", "ng-click"=>"person.removeMentee(mentee)" } Remove
        %li{ "ng-hide"=>"person.mentees.length" }
          None

      %filtered-list{ "list"=>"person.remainingMentees()", "show-property"=>"full_name", "on-select"=>"person.addMentee(value)" }

.content-block{ "ng-hide"=>"(people | filterDeleted).length" }
  %p No matching people were found.

%pagination{ "total-pages"=>"totalPages", "current-page"=>"currentPage" }


%modal#groups{ "show-on"=>"manageGroups" }
  %div{ "ng-controller"=>"GroupsCtrl" }
    %h3 Manage groups
    %ul{ "ng-show"=>"(groups | filterDeleted).length" }
      %li{ "ng-repeat"=>"group in groups", "ng-hide"=>"group.deleted", "ng-controller"=>"EditObjectCtrl" }
        %p{ "edit-in-place"=>true, "instance"=>"group", "field"=>"name", "edit-mode"=>"editing.name" }
        %a.delete{ "href"=>"", "ng-click"=>"group.delete()", "ng-show"=>"group.id" } Delete
    %p{ "ng-hide"=>"groups.length" }
      There are no groups yet.
    %a.add{ "href"=>"", "ng-click"=>"add()" } Add group

%div{ "ng-controller"=>"DuplicateGuardiansCtrl" }
  %modal#guardian-duplicates{ "show-on"=>"shown" }
    %p A guardian named {{guardianName}} already exists.
    %ul
      %li{ "ng-repeat"=>"duplicate in duplicates" }
        %label
          %input{ "type"=>"radio", "ng-model"=>"response.value", "value"=>"{{duplicate.id}}" }
          %strong {{studentName}} is a sibling of {{duplicate.students}}
          %br
          Use the same login and profile for the guardian.

      %li
        %label
          %input{ "type"=>"radio", "ng-model"=>"response.value", "value"=>"0" }
          %strong
            {{studentName}} is not a sibling of {{allStudents()}}.
          %br
          Create another guardian with the same name but a different profile.

    %button{ "ng-click"=>"submit(response.value)" } Continue
    %button{ "ng-click"=>"cancel()" } Cancel