%h2 {{pageTitle}}

%section#upper-bar
  .people-fields{ "ng-hide" => "profile" }
    %input#search{ "placeholder"=>"Enter search term", "name"=>"search", "ng-model"=>"search", "on-type"=>"doSearch(search)", "autocomplete"=>"off"}

    .add.menu{ "ng-show"=>"isTeacher" }
      %a.title{ href: "" } Add
      %ul
        %li
          %a{ "href"=>"", "ng-show"=>"canAddTeacher", "ng-click"=>"addTeacher()" } Add teacher
        %li
          %a{ "href"=>"", "ng-show"=>"canAddStudent", "ng-click"=>"addStudent()" } Add student
        %li
          %a{ "href"=>"", "ng-click"=>"manageGroups=true" } Manage groups

    %p.label Viewing
    .viewing.menu
      %a.title{ href: "" } {{filterName}}

      %ul
        %li{"ng-hide" => "filterName == 'Students and teachers'"}
          %a{href: "/people"} Students and teachers
        %li{"ng-hide" => "filterName == 'Students'"}
          %a{href: "/students"} Students
        %li{"ng-hide" => "filterName == 'Teachers'"}
          %a{href: "/teachers"} Teachers
        %li{"ng-hide" => "(filterName == 'Your mentees') || (!isTeacher)"}
          %a{href: "/mentees"} Your mentees
        %li{"ng-hide" => "filterName == 'Archived students and teachers'"}
          %a{href: "/people/archived"} Archived students and teachers

        %li.divider{"ng-show"=>"groups.length"}
        %li{"ng-repeat"=>"group in groups", "ng-hide"=>"filterName == group.name"}
          %a{"ng-href" => "/groups/{{group.id}}"} {{group.name}}

  .clear-left

%article.profile{ "ng-repeat"=>"person in people", "ng-hide"=>"person.deleted", "ng-controller"=>"EditObjectCtrl" }
  %ng-switch{ "on"=>"!!(isTeacher || person.editable)" }
    %div{ "ng-switch-when"=>"true", "ng-include"=>"'#{asset_path('editable_profile.html')}'" }
    %div{ "ng-switch-when"=>"false", "ng-include"=>"'#{asset_path('non_editable_profile.html')}'" }

.content-block{ "ng-hide"=>"(people | filterDeleted).length" }
  %p No matching people were found.

%pagination{ "total-pages"=>"totalPages", "current-page"=>"currentPage" }

%ng-switch{ "on"=>"isTeacher" }
  %div{ "ng-switch-when"=>"true", "ng-include"=>"'#{asset_path('manage_groups.html')}'" }

%ng-switch{ "on"=>"isTeacher" }
  %div{ "ng-switch-when"=>"true", "ng-controller"=>"DuplicateGuardiansCtrl",
    "ng-include"=>"'#{asset_path('guardian_duplicates.html')}'" }