%div
  .field{ "ng-repeat"=>"field in person.fields", "ng-show"=>"person[field.slug] || person.editing[field.slug]" }
    %p.field-name {{field.name}}
    %p{ "edit-in-place"=>"person.update(field.slug, value)", "type"=>"{{field.type}}",
      "editor-attr"=>"person[field.slug]", "display"=>"{{person[field.slug] | escapeHtml | apply:field.filter}}",
      "contains-html"=>true, "edit-mode"=>"person.editing[field.slug]" }

  .add-field.menu{ "ng-show"=>"person.remainingFields().length" }
    %p.title Add field
    %ul
      %li{ "ng-repeat"=>"field in person.remainingFields()" }
        %a{ "href"=>"", "ng-click"=>"person.addField(field.slug)" } {{field.name}}