%div
  .field{ "ng-repeat"=>"field in person.fields", "ng-show"=>"person[field.slug]" }
    %p.field-name {{field.name}}
    %p{ "edit-in-place"=>"person.update(field.slug, value)", "type"=>"{{field.type}}",
      "editor-attr"=>"person[field.slug]", "display"=>"{{person[field.slug] | escapeHtml | apply:field.filter}}",
      "contains-html"=>true }

  / .add-field-menu{ "ng-show"=>"remainingFields().length" }
  /   %a{ "href" => "" } Add field
  /   %ul
  /     %li{ "ng-repeat"=>"field in remainingFields()" }
  /       %a{ "href"=>"", "ng-click"=>"addField(field)" } {{field | capitalize}}