.milestones-wrapper{ "scroll-arrows"=>true }
  %table.milestones.show
    %tr
      %td{ "ng-repeat"=>"level in [] | range:(strand.max_level())" }
        {{framework.column_name}}
        %span{ 'ng-show'=>'framework.level_numbers' } {{level + 1}}

    %tr
      %td{ "ng-repeat"=>"level in [] | range:(strand.max_level())" }
        %ul
          %li{ "ng-repeat"=>"milestone in strand.milestones | filter:{ level: level + 1 }:true",
            "ng-click"=>"dialog.milestone = isTeacher && milestone",
            "ng-class"=>"{ editable: isTeacher }" }
            %p{ "ng-bind-html"=>"milestone.content | escapeHtml | multiline" }
            .student-milestone
              %div{ "ng-class"=>"'status-' + milestone.student_milestone.status" }
              %p.comments{ "ng-bind-html"=>"milestone.student_milestone.comments | escapeHtml | multiline" }
              %p.date{ "ng-show"=>"milestone.student_milestone.status || milestone.student_milestone.comments" } {{ milestone.student_milestone.date }}