%p {{strand.name}}

%ng-switch{ "on"=>"!!strand.strands.length" }
  %ol{ "ng-switch-when"=>"true" }
    %li{ "ng-repeat"=>"strand in strand.strands", "ng-include"=>"'#{asset_path('strand.html')}'" }

%ng-switch{ "on"=>"!!strand.milestones.length" }
  %table{ "ng-switch-when"=>"true" }
    %tr
      %td{ "ng-repeat"=>"level in [] | range:(strand.max_level())" }
        Level {{level + 1}}

    %tr
      %td{ "ng-repeat"=>"level in [] | range:(strand.max_level())" }
        %ul
          %li{ "ng-repeat"=>"milestone in strand.milestones | filter:{ level: level + 1 }" }
            {{milestone.content}}