.title
  %p{ "edit-in-place"=>true, "instance"=>"strand", "field"=>"name", "placeholder"=>"Strand name" }
  .manage-links
    %a.add{ "href"=>"", "ng-click"=>"addStrand(strand)",
      "ng-hide"=>"(strand.nestingLevel() == 3) || ((strand.milestones | filterDeleted).length > 0)" } Add substrand
    %a.delete{ "href"=>"", "ng-click"=>"deleteStrand(strand)", "ng-show"=>"strand.id" } Delete

%ng-switch{ "on"=>"!!(strand.strands | filterDeleted).length" }
  %ol{ "ng-switch-when"=>"true" }
    %li{ "ng-repeat"=>"strand in strand.strands | filterDeleted",
      "ng-include"=>"'/assets/strand.html'",
      "ng-class"=>"{'sub-sub-strand': strand.nestingLevel() == 3}",
      "ng-animate"=>"'fade'" }

  .milestones-wrapper{ "ng-switch-when"=>"false", "scroll-arrows"=>true }
    %table.milestones
      %tr
        %td{ "ng-repeat"=>"level in [] | range:(strand.max_level(11) + 1)", "ng-animate"=>"'fade'" }
          Level {{level + 1}}

      %tr
        %td{ "ng-repeat"=>"level in [] | range:(strand.max_level(11) + 1)", "ng-animate"=>"'fade'" }
          %ul
            %li{ "ng-repeat"=>"milestone in strand.milestones | filter:{ level: level + 1 } | filterDeleted", "ng-controller"=>"EditObjectCtrl", "ng-animate"=>"'fade'" }
              %p{ "edit-in-place"=>true, "instance"=>"milestone", "type"=>"textarea", "field"=>"content", "placeholder"=>"Enter milestone", "edit-mode"=>"editing.content" }

              %a.delete{ "href"=>"", "ng-click"=>"deleteMilestone(milestone)", "ng-hide"=>"editing.content && !milestone.id" } Delete

          %a.add{ "href"=>"", "ng-click"=>"addMilestone(level + 1, strand)", "ng-animate"=>"'fade'" } Add milestone
