.ng-view-container
  %h2 {{pageTitle}}

  .notice

  %section#upper-bar
    .clear-left

  #subjects
    %h3 Manage subjects

    %ul
      %li{ "ng-repeat"=>"subject in subjects | filterDeleted" }
        %p{ "edit-in-place"=>true, "instance"=>"subject", "field"=>"name" }

        .links
          %a.edit{ "href"=>"", "ng-show"=>"subject.id", "ng-click"=>"edit(subject)" } Edit framework
          %a.delete{ "href"=>"", "ng-show"=>"subject.id", "ng-click"=>"delete(subject)" } Delete

    .content-block{ "ng-show"=>"(subjects | filterDeleted).length == 0" }
      %p There are no subjects yet.

    %a.add{ "href"=>"", "ng-click"=>"add()" } New subject

  #framework{ "ng-controller"=>"FrameworkCtrl", "ng-show"=>"shown" }
    %h3 Framework | {{subject.name}}

    %a.close{ "href"=>"", "ng-click"=>"close()" } Close

    %a.add{ "href"=>"", "ng-click"=>"addStrand(framework)" } Add strand

    %ol.strands
      %li{ "ng-repeat"=>"strand in framework.strands | filterDeleted", "ng-include"=>"'#{asset_path('strand.html')}'" }