.ng-view-container
  %h2 {{pageTitle}}

  .notice

  %section#upper-bar
    .clear-left

  #subjects
    %h3 Manage subjects

    %ul
      %li{ "ng-repeat"=>"subject in subjects | filterDeleted" }
        %p{ "edit-in-place"=>true, "instance"=>"subject", "field"=>"name", "placeholder"=>"Subject name" }

        .links
          %a.people{ "href"=>"", "ng-show"=>"subject.id", "ng-click"=>"showPeople(subject)" } Teachers and students
          %a.edit{ "href"=>"", "ng-show"=>"subject.id", "ng-click"=>"edit(subject)" } Edit framework
          %a.delete{ "href"=>"", "ng-show"=>"subject.id", "ng-click"=>"delete(subject)" } Delete

    .content-block{ "ng-show"=>"(subjects | filterDeleted).length == 0" }
      %p There are no subjects yet.

    %a.add{ "href"=>"", "ng-click"=>"add()" } New subject

  %div{ "ng-controller"=>"SubjectPeopleCtrl", "ng-include"=>"'#{asset_path('subject_people.html')}'" }